<div id="cube" class="cube">
  <div class="innercube"   id="innercube">
    <div class="adminpanelcontainer" style="width:1000px">
      
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="gameTables-tab" data-toggle="tab" href="#gameTablesMenu" role="tab" aria-controls="gameTables" aria-selected="true" onClick="reseizeOpaqueDiv(null,null);">Game Tables</a>
        </li>
        <li class="nav-item">
          <a class="adminpanelcontainer nav-link" id="users-tab" data-toggle="tab" href="#usersMenu" role="tab" aria-controls="users" aria-selected="false" onClick="reseizeOpaqueDiv(null,null);">Users</a>
        </li>
        <li class="nav-item">
          <a class="adminpanelcontainer nav-link" id="admins-tab" data-toggle="tab" href="#adminsMenu" role="tab" aria-controls="admins" aria-selected="false" onClick="reseizeOpaqueDiv(null,null);">Admins</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="gameTablesMenu" class="tab-pane fade in active">
          <h3>Current Game Tables</h3>
          <p></p>
          <table id="usersTable" class="table table-striped" table width="100%" rules=groups cellspacing="0" cellpadding="0" class="table table-hover">
            <tr>
              <th scope="col">Table Id</th>
              <th scope="col">Min Bet Amount</th>
              <th scope="col">Active</th>
              <th scope="col">Max Players</th>
              <th scope="col">Remove Lobby</th>
            </tr>

            <tbody>

              <% if ( typeof tablesresult != 'undefined' ) { %>
                <% for (var i=0; i<tablesresult.length; i++) {%>
                  
                  <tr id="table<%=tablesresult[i].table_id%>">

                    <td>
                      Table Id: <%= tablesresult[i].table_id %>
                    </td>

                    <td>
                      Minimum Amount: <%= tablesresult[i].minamount %>
                    </td>

                    <td>
                      Active: <%= tablesresult[i].active %>
                    </td>

                    <td>
                      Max Players: <%= tablesresult[i].maxplayer %>
                    </td>

                    <td>
                      <!--<button style="color:white; background-color:#F74545;" type="button" onclick="removetable('<%= tablesresult[i].table_id %>');" class="btn btn-secondary btn-sm">Remove</button>-->
                      <button style="color:white; background-color:#F74545;" type="button" onclick="" class="btn btn-secondary btn-sm">Remove(...)</button>
                    </td>

                  </tr>
                <%}%>
              <%}%>
            </tbody>
          </table>

          <!--Button form to Create Table-->
          <div>
            Max Player Seats: <input type="text" id="maxplayerinput" style="max-width: 150px" name="maxseats"><br>
            Min Bet Amount:   <input type="text" id="minbetamountinput" style="max-width: 150px" name="minbetamount"><br>
            <button style="color:white; background-color:#F74545;" type="button" onclick="" class="btn btn-secondary btn-sm">Create Table(...)</button>
            <!--<button style="color:white; background-color:#F74545;" type="button" onclick="createNewTable();" class="btn btn-secondary btn-sm">Create Table</button>-->
          </div>
        </div>

        <div id="usersMenu" class="tab-pane fade">
          <h3>Current Users</h3>
          <p></p>
          <table id="usersTable" class="table table-striped">
            
            <tr>
              <th scope= "col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Suspended</th>
              <th scope="col">Deleted</th>
              <th scope="col">Email</th>
              <th scope="col">Account Type</th>
              <th scope="col">Buttons</th>
            </tr>

            <tbody>
              <% if ( typeof result != 'undefined' ) { %>
                <% for (var i=0; i<result.length; i++) {%>
                  <tr id="user<%=result[i].id%>">
                    <td>
                      <%= result[i].id %>
                    </td>
                    <td>
                      <%= result[i].username  %>
                    </td>
                    <td>
                      <%= result[i].suspended %>
                    </td>
                    <td>
                      <%= result[i].deleted %>
                    </td>
                    <td>
                      <%= result[i].email %>
                    </td>
                    <td>
                      <%= result[i].usertype %>
                    </td>
                    <td>
                      <button style="color:white;background-color:#F74545;" type="button" onclick="suspendUser('<%= result[i].id %>');" class="btn btn-secondary btn-sm">Suspend</button>
                      <button style="color:white;background-color:#F74545;" type="button" onclick="removeUser('<%= result[i].id %>');" class="btn btn-secondary btn-sm">Remove</button>
                    </td>
                  </tr>
                <%}%>
              <%}%>
            </tbody>

          </table>
        </div>
        
        <div id="adminsMenu" class="tab-pane fade">
          <h3>Current Admins</h3>
          <p></p>
          <table id="adminsTable" class="table table-striped">
            
            <tr>
              <th scope="col">ID</th> 
              <th scope="col">Name</th>
              <th scope="col">AdminType</th>
              <th scope="col">Email</th>
              <th scope="col">Buttons</th>
            </tr>

            <tbody>
              <% if ( typeof result != 'undefined' ) { %>
                <% for (var i=0; i<result.length; i++) {%>
                  <tr id="admin<%=result[i].id%>">
                    <td>
                      <%= result[i].id %>
                    </td>
                    <td>
                      <%= result[i].username%>
                    </td>
                    <td>
                      <%= result[i].usertype %>
                    </td>
                    <td>
                      <%= result[i].email%>
                    </td>
                    <td>
                      <% if(result[i].usertype != 0) {%>
                        <button style="color:white;background-color:#d65151;" type="button" onclick="removeAdmin('<%= result[i].id %>','<%= result[i].username %>','<%= result[i].usertype %>','<%= result[i].email %>');" class="btn btn-secondary btn-sm">Remove Admin</button>
                      <%} else {%>
                        <button style="color:white;background-color:#3CB371;" type="button" onclick="giveAdmin('<%= result[i].id %>','<%= result[i].username %>','<%= result[i].usertype %>','<%= result[i].email %>');" class="btn btn-secondary btn-sm">Give Admin</button>
                      <%}%>
                    </td>
                  </tr>
                <%}%>
              <%}%>
            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>
</div>
