<div id="cube" class="cube">
  <div class="innercube">
    <div class="adminpanelcontainer" >
      
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="gameTables-tab" data-toggle="tab" href="#gameTablesMenu" role="tab" aria-controls="gameTables" aria-selected="true">Game Tables</a>
        </li>
        <li class="nav-item">
          <a class="adminpanelcontainer nav-link" id="users-tab" data-toggle="tab" href="#usersMenu" role="tab" aria-controls="users" aria-selected="false">Users</a>
        </li>
        <li class="nav-item">
          <a class="adminpanelcontainer nav-link" id="admins-tab" data-toggle="tab" href="#adminsMenu" role="tab" aria-controls="admins" aria-selected="false">Admins</a>
        </li>
      </ul>
      
      <div class="tab-content">
        <div id="gameTablesMenu" class="tab-pane fade in active">
          <h3>Current Game Tables</h3>
          <p></p>
          <table id="usersTable" class="table table-striped">
            <tr>
              <th scope="col">Table Id</th>
              <th scope="col">Player Seats</th>
              <th scope="col">Min Bet Amount</th>
              <th scope="col">RNG Seed</th>
              <td></td><td></td>
            </tr>

            <tbody>
              <tr>
                <td>1</td>
                <td>4</td>
                <td>$123</td>
                <td>123456789</td>
                <td></td>
                <td>
                  <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Edit</button>
                  <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Remove</button>
                </td>
              </tr>

              <% if ( typeof result1 != 'undefined' ) { %>
                <% for (var i=0; i<result1.length; i++) {%>
                  <tr id="user<%=result1[i].id%>">
                  <!--"makeUserEditable('<%=result[i].id %>','<%= result[i].username %>','<%= result[i].password %>','<%= result[i].usertype %>');"-->
                  <td>
                  <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Edit Account </button>
                  </td>
                    <td>
                    <%= result1[i].tableid  %>
                    </td>
                    <td>
                      <%= result1[i].playerseats %>
                    </td>
                    <td>
                      <%= result1[i].minbetamount %>
                    </td>
                    <td>
                      <%= result1[i].rngseed %>
                    </td>
                    <td></td>
                  </tr>
                <%}%>
                <tr><td></td><td></td><td></td><td></td><td></td>
                  <td>
                    <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Remove</button>
                  </td>
                </tr>
              <%}%>

            </tbody>
          </table>

          <!--Button form to Create Table-->


        </div>

        <div id="usersMenu" class="tab-pane fade">
          <h3>Current Users</h3>
          <p></p>
          <table id="usersTable" class="table table-striped">
            <tr>
              <th scope= "col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Password</th>
              <th scope="col">Currency</th>
              <th scope="col">Account Type</th>
              <td></td>
            </tr>

            <tbody>
              <tr>
                <td>1</td>
                <td>Billy</td>
                <td>C</td>
                <td>123</td>
                <td>Super</td>
                  <td>
                    <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Edit</button>
                    <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Remove</button>
                  </td>
              </tr>

              <% if ( typeof result2 != 'undefined' ) { %>
                <% for (var i=0; i<result2.length; i++) {%>
                  <tr id="user<%=result2[i].id%>">

                  <td>
                  <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Edit Account </button>
                  </td>
                    <td>
                    <%= result2[i].tableid  %>
                    </td>
                    <td>
                      <%= result2[i].playerseats %>
                    </td>
                    <td>
                      <%= result2[i].minbetamount %>
                    </td>
                    <td></td><td></td>
                  </tr>
                <%}%>
                <tr><td></td><td></td><td></td><td></td><td></td>
                  <td>
                    <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Edit</button>
                    <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Remove</button>
                  </td>
              </tr>
              <%}%>
            </tbody>
          </table>



        </div>
        
        <div id="adminsMenu" class="tab-pane fade">
          <h3>Current Admins</h3>
          <p></p>
          <table id="adminsTable" class="table table-striped">
            <tr>
              <th scope="col">ID</th> 
              <th scope="col">Name</th>
              <th scope="col">Currency</th>
              <th scope="col">AdminStatus</th>
              <th scope="col">AdminType</th>
              <td></td>
            </tr>

            <tbody>
              <tr>
                <td>1</td>
                <td>Billy Bob</td>
                <td>$123</td>
                <td>Admin</td>
                <td>1</td>
                <td>
                  <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Edit</button>
                  <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Remove</button>
                </td>
              </tr>

              <% if ( typeof result3 != 'undefined' ) { %>
                <% for (var i=0; i<result3.length; i++) {%>
                  <tr id="user<%=result3[i].id%>">

                  <td>
                  </td>
                    <td>
                      <%= result3[i].name%>
                    </td>
                    <td>
                      <%= result3[i].currency%>
                    </td>
                    <td>
                      <%= result3[i].adminstatus%>
                    </td>
                    <td>
                      <%= result3[i].admintype %>
                    </td>
                    <td></td>
                  </tr>
                <%}%>
                <tr><td></td><td></td><td></td><td></td><td></td>
                  <td>
                    <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Edit</button>
                    <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Remove</button>
                  </td>
                </tr>
              <%}%>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
