<div id="adminpanel" class="cube">
  <div class="innercube">
    <div class="adminpanelcontainer" >
      
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
          <a class="nav-link active" id="gameTables-tab" data-toggle="tab" href="#gameTablesMenu" role="tab" aria-controls="gameTables" aria-selected="true">Game Tables</a>
        </li>
        <li class="nav-item">
          <a class="adminpanelcontainer nav-link" id="users-tab" data-toggle="tab" href="#usersMenu" role="tab" aria-controls="users" aria-selected="false">Users</a>
        </li>
        <li class="nav-item">
          <a class="adminpanelcontainer nav-link" id="admins-tab" data-toggle="tab" href="#adminsMenu" role="tab" aria-controls="admins" aria-selected="false">Admins</a>
        </li>
      </ul>

      <div class="tab-content">
        <div id="gameTablesMenu" class="tab-pane fade in active">
          <h3>Current Game Tables</h3>
          <p></p>
          <table id="usersTable" class="table table-striped">
            <tr>
              <th scope="col">Table Id</th>
              <th scope="col">Player Seats</th>
              <th scope="col">Min Bet Amount</th>
              <th scope="col">RNG Seed</th>
            </tr>

            <tbody>
              <tr>
                <td>1</td>
                <td>4</td>
                <td>$123</td>
                <td>123456789</td>
                <td></td>
                <td>
                  <button style="color:white;background-color:#455DF7;" type="button" onclick="" class="btn btn-secondary btn-sm">Edit</button>
                  <button style="color:white;background-color:#F74545;" type="button" onclick="" class="btn btn-secondary btn-sm">Remove</button>
                </td>
              </tr>

              <% if ( typeof result1 != 'undefined' ) { %>
                <% for (var i=0; i<result1.length; i++) {%>
                  
                  <tr id="table<%=result1[i].id%>">
                  <!--"makeUserEditable('<%=result[i].id %>','<%= result[i].username %>','<%= result[i].password %>','<%= result[i].usertype %>');"-->
                  <td>
                  
                  </td>
                    <td>
                      <%= result1[i].tableid  %>
                    </td>
                    <td>
                      <%= result1[i].playerseats %>
                    </td>
                    <td>
                      <%= result1[i].minbetamount %>
                    </td>
                    <td>
                      <%= result1[i].rngseed %>
                    </td>
                    <td>
                      <button style="color:white;background-color:#455DF7;" type="button" onclick="" class="btn btn-secondary btn-sm">Edit</button>
                      <button style="color:white;background-color:#F74545;" type="button" onclick="" class="btn btn-secondary btn-sm">Remove</button>
                    </td>
                  </tr>
                <%}%>
              <%}%>
            </tbody>
          </table>

          <!--Button form to Create Table-->
          <form action="/" method="">
            Max Player Seats: <input type="text" name="maxseats"><br>
            Min Bet Amount:   <input type="text" name="minbetamount"><br>
            <input type="submit" value="Create Table">
          </form>
        </div>

        <div id="usersMenu" class="tab-pane fade">
          <h3>Current Users</h3>
          <p></p>
          <table id="usersTable" class="table table-striped">
            
            <tr>
              <th scope= "col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Password</th>
              <th scope="col">Email</th>
              <th scope="col">Account Type</th>
              <th scope="col" colspan="2">Buttons</th>
            </tr>

            <tbody>
              <% if ( typeof result != 'undefined' ) { %>
                <% for (var i=0; i<result.length; i++) {%>
                  <tr id="user<%=result[i].id%>">
                  <td>
                  <%= result[i].id %>
                  </td>
                    <td>
                      <%= result[i].username  %>
                    </td>
                    <td>
                      <%= result[i].password %>
                    </td>
                    <td>
                      <%= result[i].email %>
                    </td>
                    <td>
                      <%= result[i].usertype %>
                    </td>
                    <td>
                      <button style="color:white;background-color:#455DF7;" type="button" onclick="makeUserEditable('<%=result[i].id %>','<%= result[i].username %>','<%= result[i].password %>','<%= result[i].email %>','<%= result[i].usertype %>');" class="btn btn-secondary btn-sm">Edit</button>
                      <button style="color:white;background-color:#F74545;" type="button" onclick="" class="btn btn-secondary btn-sm">Remove</button>
                    </td>
                  </tr>
                <%}%>
              <%}%>
            </tbody>

          </table>
        </div>
        
        <div id="adminsMenu" class="tab-pane fade">
          <h3>Current Admins</h3>
          <p></p>
          <table id="adminsTable" class="table table-striped">
            
            <tr>
              <th scope="col">ID</th> 
              <th scope="col">Name</th>
              <th scope="col">AdminType</th>
              <th scope="col">Email</th>
              <th scope="col">Buttons</th>
            </tr>

            <tbody>
              <% if ( typeof result != 'undefined' ) { %>
                <% for (var i=0; i<result.length; i++) {%>
                  <tr id="admin<%=result[i].id%>">
                    <td>
                      <%= result[i].id %>
                    </td>
                    <td>
                      <%= result[i].username%>
                    </td>
                    <td>
                      <%= result[i].usertype %>
                    </td>
                    <td>
                      <%= result[i].email%>
                    </td>
                    <td>
                      <% if(result[i].usertype != 0) {%>
                      <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Remove Admin</button>
                      <%} else {%>
                        <button style="color:white;background-color:#3CB371;" type="button" onclick="" class="btn btn-secondary btn-sm">Give Admin</button>
                      <%}%>
                    </td>
                  </tr>
                <%}%>
              <%}%>
            </tbody>

          </table>
        </div>

      </div>
    </div>
  </div>
</div>
