<div id="cube" class="cube">
    <div class="innercube"  id="innercube">
        <% if ( (typeof authanticate !== 'undefined') && authanticate === "true" ) { %>
            <div class="gamepanelcontainer">

                <h3>logged user : <%= authuser.username%></h3>
                <h3>table : <%= tabledata.table_id%></h3>
                <p>min bet: <%= tabledata.minamount%></p>
                <p>max seat <%= tabledata.maxplayer%></p>
                <p>table pot: </p>
                <p>dealer cards: </p>


                <table id="gameTable" class="table table-striped" width="800px">
                    <tr>
                    <th scope="col">Seat</th>
                    <th scope="col">UserID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Currency</th>
                    <th scope="col">Current Bet Amount</th>
                    <td scope="col">Cards</td>
                    <td scope="col">PlayerTurn?</td>
                    </tr>

                    <tbody>
                     <%let recordCount = tabledata.maxplayer%>
                    <%let userfound = 0 %>
                    <% for (i = 1 ;i <= recordCount; i++) { %>
                                <% userfound = 0 %>
                                <% if ( (typeof gameusersession !== 'undefined') && gameusersession !== "" ) { %>               
                                    <% gameusercount = gameusersession.length  %>
                                    <% for (k = 0 ; k < gameusercount; k++) { %>
                                        <% if ( parseInt(gameusersession[k].seatnumber) === i) { %>     
                                            <tr id = "<%= i %>">
                                                <td><%= i %></td>
                                                <td id="<%= i %>userid"><%= gameusersession[k].user_id %></td>
                                                <td id="<%= i %>username"><%= gameusersession[k].username %></td>
                                                <td id="<%= i %>currency">0</td>
                                                <td id="<%= i %>currentbet">0</td>
                                                <td id="<%= i %>cards">none</td>
                                                <td id="<%= i %>playerturn">waiting</td>
                                            </tr>
                                             <% if ( parseInt(gameusersession[k].user_id) === authuser.userid) { %> 
                                                <tr >
                                                    <td colspan ="7" width="200px">
          
                                                        <button style="color:white;background-color:#d65151;" type="button" onclick="leavegame('<%= authuser.userid%>','<%= gameusersession[k].gamesession_id %>');" class="btn btn-secondary btn-sm">Leave Game</button>
                                                        <button style="color:white;background-color:#3CB371;" type="button" onclick="callgame('<%= authuser.userid%>');" class="btn btn-secondary btn-sm">Call</button>
                                                        <button style="color:white;background-color:#4B0082;" type="button" onclick="raisegame('<%= authuser.userid%>');" class="btn btn-secondary btn-sm">Raise 10</button>
                                                        <button style="color:white;background-color:#d65151;" type="button" onclick="foldgame('<%= authuser.userid%>');" class="btn btn-secondary btn-sm">Fold</button>
                                                    </td>
                                                </tr>
                                            <%}%>
                                        <% userfound = 1 %>
                                        <% break %>
                                        <%}%>

                                    <%}%>
                                        <% if (userfound === 0 ) {%>
                                                <tr id = "<%= i %>">
                                                    <td><%= i %></td>
                                                    <td id="<%= i %>userid"></td>
                                                    <td id="<%= i %>username"></td>
                                                    <td id="<%= i %>currency"></td>
                                                    <td id="<%= i %>currentbet"></td>
                                                    <td id="<%= i %>cards"></td>
                                                    <td id="<%= i %>playerturn"></td>
                                                </tr>
                                                <tr >
                                                        <td colspan ="7" width="200px">
                                                            <button style="color:white;background-color:#3CB371;" type="button" onclick="joingame('<%= authuser.userid%>',<%= i %>,<%= JSON.stringify(tabledata) %>);" class="btn btn-secondary btn-sm">Join Game</button>
                                                        </td>
                                                </tr>
                                        <%}%>
                            <%}else{%>
                                    <tr id = "<%= i %>">
                                        <td><%= i %></td>
                                        <td id="<%= i %>userid"></td>
                                        <td id="<%= i %>username"></td>
                                        <td id="<%= i %>currency"></td>
                                        <td id="<%= i %>currentbet"></td>
                                        <td id="<%= i %>cards"></td>
                                        <td id="<%= i %>playerturn"></td>
                                    </tr>
                                                                             <tr >
                                                    <td colspan ="7" width="200px">
                                                        <button style="color:white;background-color:#3CB371;" type="button" onclick="joingame('<%= authuser.userid%>',<%= i %>,<%= JSON.stringify(tabledata) %>);" class="btn btn-secondary btn-sm">Join Game</button>
                                                    </td>
                                            </tr>
                            <%}%>
 
                    <% } %>
                    </tbody>
                </table>
            </div>
        <%}%>
    </div>
</div>


