
<div id="cube" class="cube">
    <div class="innercube"  id="innercube">
        <div class="" style="color:black;">

            <div class="container">

                <div class="row">
                    <div class="col-8">
                        <div>
                            <div style="color:white;">
                                <strong>User: <%= authuser.username %></strong>
                            </div>
                            <div >
                                <img style="width:100px;height:100px;" src="<%= authuser.img%>" class="rounded">
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div>
                            <dl>
                                <h2>
                                    Statistics
                                </h2>
                                <dt>
                                    Top Players:
                                </dt>
                                <dt>
                                    Prizes:
                                </dt>
                                <dt>
                                    Total Available Tables:
                                </dt>
                                <dt>
                                    Total Player Online:
                                </dt>
                                <dt>
                                    Number of Registered Users:
                                </dt>
                            </dl>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="col-4">
                        <div>
                            <div style="background-color:white; min-width:200px; min-height:300px" id="chat">
                            </div>
                            <div>
                                <input style="width:100px; height:30px;" type="text" id="chatinputbox">
                                <button style="width:75px; height:30px;" id="sendMessage" placeholder="Send" onclick="sendMessage('<%= authuser.username%>');">Send</button>
                            </div>
                        </div>
                    </div>
                    
                    <div class="card col-8" style="color:black; min-width:300px; min-height:300px; max-width:10000; max-height:10000;">
                        <div class="card-body">
                            <h3 class="card-title;" style="text-decoration:underline"> Available tables: </h3>
                            <% if ( (typeof result !== 'undefined') && result !== "" ) { %>
                                <%  let recordCount = result.length 
                                    let i = 0;
                                %>
                                <% for (i = 0 ;i < recordCount; i++) { %>
                                        <a href="#" onclick="showgame(<%= result[i].table_id %>);startcounter(5000,checkgamesession,'<%= authuser.username%>');sendAuthInfoToSocket('<%= JSON.stringify(authuser) %>');setEnvForSocket('<%= JSON.stringify(result[i]) %>','<%= authuser.userid%>');"> table <%= result[i].table_id %></a><br>
                                <% } %>
                            <%}else{%>
                                <h6>No Tables Are Currently Available</h6>
                            <%}%>
                        </div>
                    </div>
                <div>
            <div>
        </div>
    </div>
</div>