
<div id="cube" class="cube">
    <div class="innercube"  id="innercube">
        <div class="col-md-12" style="color:black;">

            <div class="container">

                <div class="row">
                    <div class="col-sm; col-md; col-lg">
                        <div>
                            <div style="color:white;">
                                <strong>User: <%= authuser.username %>></strong>
                            </div>
                            <div >
                                <img style="width:100px;height:100px;" src="<%= authuser.img%>" class="rounded">
                            </div>
                        </div>
                    </div>

                    <div class="col-sm; col-md; col-lg">
                        <div>
                            <dl>
                                <h2>
                                    Statistics
                                </h2>
                                <dt>
                                    Top Players:
                                </dt>
                                <dt>
                                    Prizes:
                                </dt>
                                <dt>
                                    Total Available Tables:
                                </dt>
                                <dt>
                                    Total Player Online:
                                </dt>
                                <dt>
                                    Number of Registered Users:
                                </dt>
                            </dl>
                        </div>
                    </div>
                <div>

                <div class="row">

                    <div class="col-sm; col-md; col-lg">
                        <div style="color:black; width:auto;">
                            <div class="card" >
                                <div class="card-body" >
                                    <h3 class="card-title;" text-decoration= "underline"> Available tables: </h3>
                                    <% if ( (typeof result !== 'undefined') && result !== "" ) { %>
                                        <%  let recordCount = result.length 
                                            let i = 0;
                                        %>
                                        <% for (i = 0 ;i < recordCount; i++) { %>
                                                <a href="#" onclick="showgame(<%= result[i].table_id %>);startcounter(5000,checkgamesession,'<%= authuser.username%>');sendAuthInfoToSocket('<%= JSON.stringify(authuser) %>');setEnvForSocket('<%= JSON.stringify(result[i]) %>','<%= authuser.userid%>');"> table <%= result[i].table_id %></a><br>
                                        <% } %>
                                    <%}else{%>
                                        <h6> no available table</h6>
                                    <%}%>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-sm; col-md; col-lg" style="width:auto">
                        <div style="float:left;">

                            <div style="overflow: auto; min-width:100px; min-height:100px; background-color:white; display:inline-block;" id="chat">
                            </div>
                            <div>
                                <input style="width:100px; height:30px;" type="text" id="chatinputbox">
                                <button style="width:100px; height:30px;" id="sendMessage" placeholder="Send" onclick="sendMessage('<%= authuser.username%>');">Send</button>
                            </div>
                        </div>
                    </div>

                <div>

            <div>
        </div>
    </div>
</div>