<div id="cube" class="cube">
    <div class="innercube">
        <div class="gamepanelcontainer">
            <%if ( typeof lobbyresult != 'undefined' ) { %>
                <h3>Game Id: <%= lobbyresult.lobbyid %></h3>
                <p>MinBet: <%= lobbyresult.minbet%> 
                Seats available: <%= lobbyresult.seatsavailable%>
                Current Pot: <%= lobbyresult.pot %>
                </p>
                <p>Card1: <%=lobbyresult.card1%></p>
                <p>Card2: <%=lobbyresult.card2%></p>
                <p>Card3: <%=lobbyresult.card3%></p>
                <p>Card4: <%=lobbyresult.card4%></p>
                <p>Card5: <%=lobbyresult.card5%></p>
            <% } %>
            
            <h3>Game Id: 1</h3>
            <p>Min Bet: x Seats available: y</p>
            <p>Seats Available: 3</p>
            <p>Current Pot: $2</p>
            <p>Card1: Ace Hearts</p>
            <p>Card2: Two Diamonds</p>
            <p>Card3: Three Spades</p>
            <p>Card4: Four Clover</p>
            <p>Card5: HIDDEN</p>

            <table id="gameTable" class="table table-striped">
            <tr>
            <th scope="col">UserID</th>
            <th scope="col">Username</th>
            <th scope="col">Currency</th>
            <th scope="col">Current Bet Amount</th>
            <td scope="col">Card1</td>
            <td scope="col">Card2</td>
            <td scope="col">PlayerTurn?</td>
            <td scope="col">Buttons</td>
            </tr>

            <tbody>
            <tr>
                <td>1</td>
                <td>Ted</td>
                <td>$123</td>
                <td>$1</td>
                <td>King Diamond</td>
                <td>Two Diamond</td>
                <td>Yes</td>
                <td>
                <button style="color:white;background-color:#3CB371;" type="button" onclick="" class="btn btn-secondary btn-sm">Join Game</button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Leave Game</button>
                <button style="color:white;background-color:#3CB371;" type="button" onclick="" class="btn btn-secondary btn-sm">Call</button>
                <button style="color:white;background-color:#4B0082;" type="button" onclick="" class="btn btn-secondary btn-sm">Raise 10</button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Fold</button>
                </td>
            </tr>
            <tr>
                <td>2</td>
                <td>Ted</td>
                <td>$345</td>
                <td>$2</td>
                <td>Queen Spades</td>
                <td>Ace Clubs</td>
                <td>No</td>
                <td>
                <button style="color:white;background-color:#3CB371;" type="button" onclick="" class="btn btn-secondary btn-sm">Join Game</button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Leave Game</button>
                <button style="color:white;background-color:#3CB371;" type="button" onclick="" class="btn btn-secondary btn-sm">Call</button>
                <button style="color:white;background-color:#4B0082;" type="button" onclick="" class="btn btn-secondary btn-sm">Raise 10</button>
                <button style="color:white;background-color:#d65151;" type="button" onclick="" class="btn btn-secondary btn-sm">Fold</button>
                </td>
            </tr>

            <% if ( typeof result != 'undefined' ) { %>
                <% for (var i=0; i<result.length; i++) {%>
                <tr id="user<%=result[i].id%>">
                <td></td>
                    <td>
                    <%= result[i].userid  %>
                    </td>
                    <td>
                    <%= result[i].username %>
                    </td>
                    <td>
                    <%= result[i].currency %>
                    </td>
                    <td>
                    <%= result[i].betamount %>
                    </td>
                    <td><%= result[i].card1 %></td>
                    <td><%= result[i].card2 %></td>
                    <td><%= result[i].isturn %></td>
                </tr>
                <%}%>
                <tr><td></td><td></td><td></td><td></td><td></td>
                <td>
                </td>
                </tr>
            <%}%>

                </tbody>
            </table>



  <div class="container-fluid" style="color:black";>
        <!-- Start Top Row -->
        <div class="row">
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-12" style="color:white;">
                        <strong>User Name Here</strong>
                    </div>
                    <div class="col-md-12">
                        <img alt="" src="https://s3.amazonaws.com/uifaces/faces/twitter/rogie/128.jpg" class="rounded">
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="row justify-content-end">
                    <div class="col-md-8">
                    </div>
                    <div class="col-md-2">

                        <button type="button" class="btn btn-success">
                            My Account
                        </button>
                    </div>
                    <div class="col-md-2">

                        <button type="button" class="btn btn-success">
                            Logout
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Top Row -->

        <!-- Start Bottom Row -->
        <div class="row" style="color:white;">
            <div class="col-md-12">
                <div class="row">
                    <!-- Left Hand Column -->
                    <div class="col-md-3">
                        <div class="row">
                            <!-- My Stats -->
                            <div class="col-md-12">
                                <dl>
                                    <h2>
                                        My Statistics
                                    </h2>
                                    <dt>
                                        Chips:
                                    </dt>
                                    <dt>
                                        My Level:
                                    </dt>
                                    <dt>
                                        Win Rate:
                                    </dt>
                                </dl>
                            </div>
                        </div>
                        <div class="row" style="color:black;">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">Tables Available</h3>
                                        <h6> Table 1</h6>
                                        <h6> Table 2</h6>
                                        <h6> Table 3</h6>
                                        <h6> Table 4</h6>
                                        <h6> Table 5</h6>
                                    </div>
                                </div>
                                <!-- Expect to have dynamic pagination -->
                                <!-- <nav>
                                        <ul class="pagination">
                                            <li class="page-item">
                                                <a class="page-link" href="#">1</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">2</a>
                                            </li>
                                            <li class="page-item">
                                                <a class="page-link" href="#">3</a>
                                            </li>
                                        </ul>
                                    </nav> -->
                                <button type="button" class="btn btn-success">
                                    New Table
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- Right Hand Column -->
                    <!-- Statistics -->
                    <div class="col-md-9">
                        <dl>
                            <h2>
                                Statistics
                            </h2>
                            <dt>
                                Top Players:
                            </dt>
                            <dt>
                                Prizes:
                            </dt>
                            <dt>
                                Total Available Tables:
                            </dt>
                            <dt>
                                Total Player Online:
                            </dt>
                            <dt>
                                Number of Registered Users:
                            </dt>
                        </dl>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </div>
</div>


